boto3==1.11.13
botocore==1.14.13
certifi==2019.11.28
chardet==3.0.4
Click==7.0
dnspython==1.16.0
Flask==1.1.1
flask-kafka==0.0.2
flask-mongoengine==0.9.5
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
kafka-python==1.4.7
kazoo==2.5.0
MarkupSafe==1.1.1
mongoengine==0.19.1
nexradaws==1.1
PyJWT==1.7.1
pykafka==2.8.0
pymongo==3.10.1
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2019.3
requests==2.22.0
s3transfer==0.3.3
six==1.14.0
tabulate==0.8.6
twilio==6.35.4
urllib3==1.25.8
Werkzeug==1.0.0
WTForms==2.2.1
