.Dashboard {
  background-image: url('./IMG_3628.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}
