.fullheight {
  height: 100%;
}
html,
body {
  height: 100%;
}
.Login .col {
  margin: auto;
}
.Login form {
  max-width: 320px;
  margin: auto;
}
.Login {
  background-image: url("./weather.jpg");
  background-size: cover;
}
.fullwidth {
  width: 100vw;
}

.Register .col {
  margin: auto;
}
.Register form {
  max-width: 320px;
  margin: auto;
}

.Register {
  background-image: url("./weather.jpg");
  
  background-size: cover;
}
